
.custom-form-field label{
    margin: 15px 0px;
}

.modal-footer{
    margin-right: 15px;
}

.custom-form-switch{
    margin-top: 15px;
}

.form-switch .form-check-input{
    margin-top: 20px;
}


.image-resolution{
    image-resolution: from-image;
image-resolution: 300dpi;
image-resolution: from-image 300dpi;
image-resolution: 300dpi snap;
}